extends layout

block extraHead
    script(src="https://code.jquery.com/jquery-3.4.1.min.js",
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=",
        crossorigin="anonymous")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js",
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=",
        crossorigin="anonymous")

block content
    .body-text
        h1= title
        br
        form(method='POST', action='/events/add', enctype="multipart/form-data")
            .form-group
                label Title:
                br
                input.form-control(name='title', type='text')
            .form-group
                label Location:
                br
                input.form-control(name='location', type='text', placeholder='e.g. C28, Merchiston')
            .form-group
                label Date:
                br
                input.form-control(name='date', type='text', id='datepicker')
                script.
                    $("#datepicker").datepicker();
            .form-group.event-time.start
                label Start:
                br
                input.form-control(name='start', type='text', placeholder='e.g. 17:00')
            .form-group.event-time
                label End:
                br
                input.form-control(name='end', type='text', placeholder='e.g. 18:00')
            .form-group
                label Event description:
                br
                textarea.form-control(name='description', type='text')
            .form-group
                label Event image upload:
                br
                input.form-control(name='image', type='file', id='image')
            input.btn.btn-default(type="submit", value="Add event")