extends layout

block content
    .heading-card.events
        .heading-card-content 
            h1 Events
    
    h2 Upcoming events
    br
    .event-container
        if !events
            div(style='width:400px;margin: 0 auto;text-align:center;') Check back soon for more upcoming events
        else
            each event, i in events
                .event-card
                    a(href='#')
                        .event-card-info
                            img(src="/images/logo.png" alt="ENUCS Logo")
                            h2= event.title
                            p.event-date= event.date
                            p.event-time #{event.start_time} - #{event.end_time}
                            p.event-location= event.location_name
            

