extends layout

block content
    .heading-card.events
        .heading-card-content 
            h1 Events
    h2= specificEvents ? "Events" : "Upcoming events"
    br
    .event-container
        if !events || events.length === 0
            div(style='width:400px;margin: 0 auto;text-align:center;')= specificEvents ? "No events found" : "Check back soon for more upcoming events"
        else
            each event in events
                .event-card
                    a(href='#')
                        .event-card-info
                            img(src="/images/logo.png" alt="ENUCS Logo")
                            h2= event.title
                            if event.date
                                .event-date= event.date
                            p.event-time #{event.start_time} - #{event.end_time}
                            p.event-location= event.location_name
            
block scripts
    script(type='text/javascript', src='/js/event-redirect.js')
