extends layout

block content
    .main-card
        .main-card-content 
            h1 Join the movement
            br
            a.btn(href='https://www.napierstudents.com/organisation/societies/7541/', target='_blank') Click Here!
            
    h2.upcoming-event-title Upcoming events
    .event-container
        if !events || events.length === 0
            p Check back soon for more upcoming events
        else
            each event in events
                .event-card
                    a(href='#')
                        .event-card-info
                            img(src="/images/logo.png" alt="ENUCS Logo")
                            h2= event.title
                            if event.date
                                .event-date= event.date
                            p.event-time #{event.start_time} - #{event.end_time}
                            p.event-location= event.location_name

    h2.social-feed-title Latest Tweets
    .twitter-card-container
        if tweets
            each t in tweets
                .twitter-card
                    span#handle(style='font-size: 16px;text-transform: uppercase;color: #555;')= t.handle
                    i(class='fab fa-twitter' style='float:right;color:#1da1f2;')
                    p.tweetBody(style='padding: 10px 0;')= t.body
                    p(style='color:#777;text-transform:uppercase;')= t.created_at
                    
block scripts
    script(type='text/javascript', src='/js/tweet-parser.js')
